<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BizUnit.Core" version="5.0.5" targetFramework="net40" requireReinstallation="true" />
  <package id="BizUnit.TestSteps" version="5.0.5" targetFramework="net40" requireReinstallation="true" />
  <package id="BizUnit4" version="4.1.4" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net4" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net4" />
  <package id="NUnit" version="3.12.0" targetFramework="net40" requireReinstallation="true" />
  <package id="StackExchange.Redis" version="1.2.1" targetFramework="net40" requireReinstallation="true" />
</packages>